<wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
    <wsp:All>
        <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
            <ns:CredentialMapping ResourceInstance="SubjectIsp"
                xmlns:ns="http://xsd.tns.tibco.com/governance/policy/action/2009">
                <ns:Saml>
                    <ns:WSS>
                        <ns:IssuerName>urn:john.doe.tibco.com</ns:IssuerName>
                        <ns:ValidPeriod>300</ns:ValidPeriod>
                    </ns:WSS>
                </ns:Saml>
                <wssp:SignedSupportingTokens
                    xmlns:wssp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wssp:SamlToken>
                      <wssp:IssuerName>urn:www.example.com</wssp:IssuerName>
                      <wssp:WssSamlV20Token11 />
                    </wssp:SamlToken>
                </wssp:SignedSupportingTokens>
            </ns:CredentialMapping>
        </wsp:Policy>
    </wsp:All>
</wsp:Policy>